.vscode
__pycache__
cmake-*
**/*build
release
output
slurm-*
data/
out/
output/
madupite.egg*
**/log*
log*.txt
MDP/MDP.cpp
**/*.out
dist/
madupite/madupite.cpp
**/compile_commands.json
petsc-env
**/.cache
**/stats.json
bin/
lib/
